<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title> Silex Labs</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
     {% block contenido %} {% endblock %}
</body>
</html>
