<!DOCTYPE html>
<html lang="es">
    <head>
    	<meta charset="utf-8">
		<title>Portada</title>
	</head>

	<body>
		{% for item in propuestas %}
			{{item.titulo}}<br>
		{% endfor %}
	</body>
</html>